# URL de backend real (cuando lo tengas desplegado)
VITE_API_URL=http://localhost:4000/api

# true => login/register en modo demo sin backend
# false => usa backend real via VITE_API_URL
VITE_DEMO_AUTH=false
